@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: grid;
  grid-template-columns: 1fr repeat(4, 100px);
  grid-template-rows: 75px 75px 1fr 50px;
  background-color: white;
  border-radius: 1px;
  border-style: solid;
  width: 100%;
  height: 100%;
  place-items: center;
  align-content: stretch;
  position: relative;
  border-radius: 0;

}

.bookMark {
  width: "100%";
  height: "70px";
  font-size: "15px";
  box-shadow: "5px -5px 10px black";
  background-color: '#FFFF99'
}

.title {
  background-color: blue;
  width: "100%";
  height: "100%";
  grid-gap: 0px;
}

.item:nth-child(1) {

  grid-column: 1 / 2;
  grid-row: 2 / 3;


}

.item:nth-child(2) {

  grid-column: 2 / 3;
  grid-row: 2 / 3;


}

.item:nth-child(3) {

  grid-column: 3 / 4;
  grid-row: 2 / 3;


}

.item:nth-child(4) {

  grid-column: 4 / 5;
  grid-row: 2 / 3;


}



.item:nth-child(5) {
  grid-column: 1 / 6;
  grid-row: 3 / 4;

}

.item:nth-child(6) {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
}