<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      display: flex;
      flex-direction: column;
    }
    
    .header {
      text-align: center;
      padding: 10px;
    }
    
    .content {
      display: flex;
      flex: 1;
    }
    
    .column {
      flex: 1;
      border: 1px solid black;
      padding: 10px;
    }
    
    .column-1 {
      flex: 1;
    }
    
    .column-2 {
      flex: 9;
    }
  </style>
</head>
<body>
    </div>
        <h1>home</h1>
        <div>
            <div style="float: left; width: 30%; height: 500px; overflow: scroll; background-color: antiquewhite;">
                <h3>Upload Audio</h3>
                <div>
                  <form method="post" action="/home/{user_id}" enctype="multipart/form-data">
                      <input type="file" name="audio" value="{{ audio }}">
                      <input type="submit" value="Transform">
                  </form>
                </div>
                <h3>histories</h3>
                <div>
                    {% for history in histories %}
                    <div style="background-color: rgb(247, 238, 226);">
                        <p>title: {{ history.title }}</p>
                        <p>transcription: {{ history.transcription }}</p>
                        <p>summary: {{ history.summary }}</p>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="float: left; width: 70%; height: 500px; background-color: rgb(241, 249, 249);">
            <h3>main</h3>
            <div>
                <p>title: {{ history.title }}</p>
                <p>transcription: {{ history.transcription }}</p>
                <p>summary: {{ history.summary }}</p>
                {% for qna in qnas %}
                    <p>Question {{ qna_index }}. {{ qna.question }}</p>
                    <p>Answer {{ qna_index }}. {{ qna.answer }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
