<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      display: flex;
      flex-direction: column; /* 세로 방향으로 요소를 배치 */
    }
    
    .header {
      text-align: center; /* 텍스트를 가운데 정렬 */
      padding: 10px;
    }
    
    .content {
      display: flex;
    }
    
    .column {
      flex: 1;
      border: 1px solid black;
      padding: 10px;
    }
    
    .column-1 {
      flex: 1;
    }
    
    .column-2 {
      flex: 4.5;
    }
    
    .column-3 {
      flex: 4.5;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>HOME: {{ user_id }}</h1>
    </div>
    <div class="content">
      <div class="column column-1">
        <h2>Histories</h2>
        {% for history in histories %}
          <h3>History {{ history.history_id }}</h3>
          <p>Title: {{ history.title }}</p>
          <p>Transcription: {{ history.transcription }}</p>
          <p>Summary: {{ history.summary }}</p>
          {% for qna in qnas %}
              {% if qna.history_id == history.history_id %}
                  <p>Question: {{ qna.question }}</p>
                  <p>Answer: {{ qna.answer }}</p>
              {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="column column-2">
        <h2>Transcript</h2>
        <p>{{ transcription }}</p>
      </div>
      <div class="column column-3">
        <h2>Summary</h2>
        <p>{{ summary }}</p>
        
        <h2>Question & Answer</h2>
        {% for qna in qnas %}
          <p>Question: {{ qna.question }}</p>
          <p>Answer: {{ qna.answer }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
